<div class="modal-wrapper">
  <form class="modal" [formGroup]="launchForm" (ngSubmit)="onSubmit();">
    <div class="modal-card">
      <div class="modal-content">
        <div class="input-field">
          <label for="division">Division</label>
          <input
            type="text"
            id="division"
            formControlName="division">
        </div>
        <div class="input-field">
          <label for="project">Project</label>
          <input
            type="text"
            id="project"
            formControlName="project">
        </div>
        <div class="input-field datetime">
          <label for="clientApproval">Client Approval</label>
          <input
            type="text"
            id="clientApproval"
            formControlName="clientApproval">
        </div>
        <div class="input-field datetime">
          <label for="launchDate">Launch Date</label>
          <input
            type="text"
            id="launchDate"
            formControlName="launchDate">
        </div>
      </div>
      <div class="modal-actions flex-wrapper"><!--
        --><button type="submit" class="modal-button flex-grow">UPDATE</button><!--
        --><a (click)="onDelete()" class="modal-button flex-grow">DELETE</a><!--
      --></div>
    </div>
  </form>
  <div class="modal-background" [routerLink]="['/launches']"></div>
</div>