html {
    color: rgba(0,0,0,0.87);
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
    font-family: 'Helvetica Neue', 'Roboto', 'Helvetica', Arial, sans-serif;
    -webkit-overflow-scrolling : touch !important;

}
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    background: #F5F8FA;
    font-size: 100%;
    -webkit-overflow-scrolling : touch !important;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.hide {
    display: none;
}
audio,
canvas,
iframe,
svg,
video {
    vertical-align: middle;
}
textarea {
    resize: vertical;
}
ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000000 !important;
    box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
div {
    box-sizing: border-box;
}
a {
    outline: 0;
    text-decoration: none;
    color: #54b1fb;
}
.btn {
    background: transparent;
    border: none;
    color: #fff;
    position: relative;
    min-width: 64px;
    display: inline-block;
    font-family: 'Montserrat', 'Roboto', 'Helvetica', Arial, sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    will-change: background-color, color;
    -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.flex-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex-grow {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.flex-shrink {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
